<form action="/" method="post" id="calculator">
  <label for="state">State: </label>
  <select name="state" id="state">
    <% @states.each do |state| %>
      <option value="<%= state[:abbreviation] %>"><%= state[:name] %></option>
    <% end %>
  </select>

  <br><br>

  <label for="age">Age: </label>
  <input type="text" id="age" name="age">

  <br><br>

  <label for="percent_taking">Percentage of people you think will get it when offered: </label>
  <input type="text" id="percent_taking" name="percent_taking" value="70">

  <br><br>

  <input type="submit" value="Submit">
</form>
