<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>

    <h1>Covid Vaccine Calculator</h1>
    <h2>Using tons of assumptions and some data to estimate when you can get a Covid vaccine in the US</h2>

    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
